# ignore tests
**/*.test.*
**/*.test.d.ts
test/

# ignore configs
.luarc.json
biome.json
# these names cannot be joined to {} syntax
# otherwise rule n/no-unpublished-import screams at me
eslint.config.js
eslint.config.mjs
eslint.config.cjs
tsconfig.json

# ignore repo configs
.github/
.gitea/

# ignore IDE files
.idea
.nova
